.upper_cards_section {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .card {
        padding: 10px;
        border-radius: 25px;
        width: 30%;
    }

    .icon-wrapper {
        margin: 20px;
        height: 80px;
        width: 90px;
        text-align: center;
        padding: 10px;
        border: 2px solid red;
        border-radius: 25px;
    }

    .card-title {
        margin-top: 10px;
    }

    .card-value {
        margin-top: 10px;
        font-size: 30px;
        font-weight: bold;
    }
}